<aside
  class="flex flex-col justify-between items-center w-24 bg-[var(--color-sidebar)] text-[var(--color-text)] h-screen p-8"
>
  <!-- Navegación principal -->
  <nav class="flex flex-col items-center space-y-8 flex-grow">
    <h3>Menú</h3>
    <!-- Dashboard -->
    <div class="group relative">
      <a
        routerLink="Dashboard"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center justify-center p-3 rounded-xl transition-all duration-200 hover:bg-[var(--color-card)] hover:shadow-[0_0_10px_var(--color-success)]"
      >
        <i class="fa-solid fa-home fa-2x text-[var(--color-success)]"></i>
      </a>
      <span
        class="absolute left-16 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 bg-[var(--color-card)] text-[var(--color-text)] text-xs px-3 py-1 rounded-lg shadow-md whitespace-nowrap transition-all duration-300 translate-x-2 group-hover:translate-x-0"
      >
        Dashboard
      </span>
    </div>
    <!-- Deudas -->
    <div class="group relative">
      <a
        routerLink="Deudas"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center justify-center p-3 rounded-xl transition-all duration-200 hover:bg-[var(--color-card)] hover:shadow-[0_0_10px_var(--color-danger)]"
      >
        <i
          class="fa-solid fa-money-bill-1-wave fa-2x text-[var(--color-danger)]"
        ></i>
      </a>
      <span
        class="absolute left-16 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 bg-[var(--color-card)] text-[var(--color-text)] text-xs px-3 py-1 rounded-lg shadow-md whitespace-nowrap transition-all duration-300 translate-x-2 group-hover:translate-x-0"
      >
        Deudas
      </span>
    </div>

    <!-- Ingresos / Egresos -->
    <div class="group relative">
      <a
        routerLink="Ingresos-Egresos"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center justify-center p-3 rounded-xl transition-all duration-200 hover:bg-[var(--color-card)] hover:shadow-[0_0_10px_var(--color-warning)]"
      >
        <i
          class="fa-solid fa-credit-card fa-2x text-[var(--color-warning)]"
        ></i>
      </a>
      <span
        class="absolute left-16 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 bg-[var(--color-card)] text-[var(--color-text)] text-xs px-3 py-1 rounded-lg shadow-md whitespace-nowrap transition-all duration-300 translate-x-2 group-hover:translate-x-0"
      >
        Ingresos / Egresos
      </span>
    </div>

    <!-- Planificador -->
    <div class="group relative">
      <a
        routerLink="Planificador"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center justify-center p-3 rounded-xl transition-all duration-200 hover:bg-[var(--color-card)] hover:shadow-[0_0_10px_var(--color-success)]"
      >
        <i
          class="fa-solid fa-calendar-days fa-2x text-[var(--color-success)]"
        ></i>
      </a>
      <span
        class="absolute left-16 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 bg-[var(--color-card)] text-[var(--color-text)] text-xs px-3 py-1 rounded-lg shadow-md whitespace-nowrap transition-all duration-300 translate-x-2 group-hover:translate-x-0"
      >
        Planificador
      </span>
    </div>
    <!-- Configuración abajo -->
    <div class="group relative">
      <a
        routerLink="Ajustes"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex flex-col items-center justify-center p-3 rounded-xl transition-all duration-200 hover:bg-[var(--color-card)] hover:shadow-[0_0_10px_var(--color-success)]"
      >
        <i class="fa-solid fa-gear fa-2x text-[var(--color-success)]"></i>
      </a>
      <span
        class="absolute left-16 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 bg-[var(--color-card)] text-[var(--color-text)] text-xs px-3 py-1 rounded-lg shadow-md whitespace-nowrap transition-all duration-300 translate-x-2 group-hover:translate-x-0"
      >
        Ajustes
      </span>
    </div>
  </nav>
</aside>
